* {
   margin: 0;
   padding: 0;
}
body, html {
   height: 106.25rem;
   overflow-x: hidden;
}

.dis_flex{
	display: flex;
}

::-webkit-scrollbar{
    display:none;
}

.myCanvas{
	background-color: #DEDEDE;
	position: absolute;
	z-index: -1;
}

.main_wrap{
}

.task_wrap{
	background-color: #99D3DF;
	overflow: hidden;
	text-align: center;
	z-index: 3;
}
@media (min-width:0px){
    .task_title{
    	margin: 1.5rem 0;
    	font-size: 1.2rem;
    	font-weight: 800;
    	letter-spacing: 0.05rem;
    }
	.itemName{
		width: 50%;
		margin-right: 0.625rem;
		font-size: 0.4em;
		font-weight: 700;
		vertical-align: middle;
		text-align: right;
		line-height: 1.8rem;
	}
	.nodeText{
		display: inline-block;
		font-size: 0.2rem;
		width: -webkit-fit-content;
		padding: 0.3rem;
		border-radius: 8%;
		background-color: white;
	}
	
}
@media (min-width: 320px){
    .task_title{
    	margin: 1.5rem 0;
    	font-size: 1.3rem;
    	font-weight: 800;
    	letter-spacing: 0.05rem;
    }
	.itemName{
		width: 50%;
		margin-right: 0.625rem;
		font-size: 0.5em;
		font-weight: 700;
		vertical-align: middle;
		text-align: right;
		line-height: 1.8rem;
	}
	.nodeText{
		display: inline-block;
		font-size: 0.3rem;
		width: -webkit-fit-content;
		padding: 0.3rem;
		border-radius: 8%;
		background-color: white;
	}
}
@media (min-width: 340px){
    .task_title{
    	margin: 1.5rem 0;
    	font-size: 1.4rem;
    	font-weight: 800;
    	letter-spacing: 0.05rem;
    }
	.itemName{
		width: 50%;
		margin-right: 0.625rem;
		font-size: 0.5em;
		font-weight: 700;
		vertical-align: middle;
		text-align: right;
		line-height: 1.8rem;
	}
	.nodeText{
		display: inline-block;
		font-size: 0.3rem;
		width: -webkit-fit-content;
		padding: 0.3rem;
		border-radius: 8%;
		background-color: white;
	}
}
@media (min-width: 360px){
    .task_title{
    	margin: 1.5rem 0;
    	font-size: 1.5rem;
    	font-weight: 800;
    	letter-spacing: 0.05rem;
    }
	.itemName{
		width: 50%;
		margin-right: 0.625rem;
		font-size: 0.6em;
		font-weight: 700;
		vertical-align: middle;
		text-align: right;
		line-height: 1.8rem;
	}
	.nodeText{
		display: inline-block;
		font-size: 0.4rem;
		width: -webkit-fit-content;
		padding: 0.3rem;
		border-radius: 8%;
		background-color: white;
	}
	
}
@media (min-width: 400px){
    .task_title{
    	margin: 1.5rem 0;
    	font-size: 1.6rem;
    	font-weight: 800;
    	letter-spacing: 0.05rem;
    }
	.itemName{
		width: 50%;
		margin-right: 0.625rem;
		font-size: 0.6em;
		font-weight: 700;
		vertical-align: middle;
		text-align: right;
		line-height: 1.8rem;
	}
	.nodeText{
		display: inline-block;
		font-size: 0.5rem;
		width: -webkit-fit-content;
		padding: 0.3rem;
		border-radius: 8%;
		background-color: white;
	}
	
}
@media (min-width: 420px){
    .task_title{
    	margin: 1.5rem 0;
    	font-size: 1.7rem;
    	font-weight: 800;
    	letter-spacing: 0.05rem;
    }
	.itemName{
		width: 50%;
		margin-right: 0.625rem;
		font-size: 0.7em;
		font-weight: 700;
		vertical-align: middle;
		text-align: right;
		line-height: 1.8rem;
	}
	.nodeText{
		display: inline-block;
		font-size: 0.5rem;
		width: -webkit-fit-content;
		padding: 0.3rem;
		border-radius: 8%;
		background-color: white;
	}
	
}



.space{
	width: 0.5rem;
	background-color: white;
}

.space2{
	width: 100%;
	height: 0.5rem;
	background-color: white;
	
}

.tree_wrap{
	min-width: 10rem;
	z-index: 2;
	text-align: center;
	overflow: hidden;
}

.itemBox{
	background-color: #8BBDD6;
}

.itemBox:nth-of-type(odd){
	background-color: darkcyan;
	color: white;
}

.inputW{
	padding: 1.6rem 0;
	padding-left: 1rem;
	text-align: center;
	vertical-align: middle;
}

.itemName span{
	display: block;
}

@media screen and (max-width: 20rem){
	.itemName span{
		display: inline;
	}
}

.inputBox{
	width: 9.5rem;
	padding: 0.125rem 0;
	border:0.0625rem solid #dbdbdb;
	border-radius: 0.3125rem;
	outline:none;
	text-indent:10px;
	height: 75%;
}


.subB{
	background-color: #99D3DF;
	width: 18rem;
	font-size: 2.5rem;
	letter-spacing: 0.5rem;
	padding: 0.5rem;
	margin: 2.4rem 0;
	border: 0.5rem solid white;
	border-radius: 1rem;
}

.subB p{
	font-family: 'Roboto'; 
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	user-select: none;
}

.subB:hover {
	cursor: pointer;
}

.subB:active {
	padding: 0.8rem;
	font-size: 2rem;
	background-color: darkcyan;
}

.tree_title{
	margin: 3% 0;
	font-size: 2.5rem;
	letter-spacing: 0.1rem;
	color: darkcyan;
	font-weight: 1000;
	text-align: center;
}

.node_wrap{
}

.nodetree{
	text-align: center;
	display: flex;
	flex-wrap: wrap;/*span 需要独占一行，所以此 flex 布局必须要折行显示 */
}

.nodetree > span {
  margin: 2rem 0;
  width: 100%;
  text-align: center;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active, 2.1.8 版本以下 */ {
    opacity: 0
}

.nodetree {
	width: 50%;
}

.trueNode{
	color: white;
	background-color: orangered;
	border-color: red;
}

.leafNode{
	border-radius: 50%;
}

.nobrother{
	width: 100%;
} 

.hideB{
	text-align: center;
	background-color: #DEDEDE;
}

.hideB p{
	display: inline-block;
	padding: 0.5rem 1rem;
	width: -webkit-fit-content;
	background-color: #99D3DF;
	border: 0.3rem solid white;
	border-top: none;
	border-radius: 0 0 1rem 1rem;
	color: white;
}

.hideB p:active{
	background-color: darkcyan;
}

.hideWrap{
	height: 0;
	overflow: hidden;
}