<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Two-Stage Decision Tree</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="format-detection" content="telephone=yes" />
		<meta name="msapplication-tap-highlight" content="no" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
		<link rel="stylesheet" type="text/css" href="./css/tsdm.css" />
		<script src="./js/jquery-3.6.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/v3.2.8/vue.global.prod.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/v2.6.10/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script>
			if(navigator.userAgent.match(/Android/i)|| navigator.userAgent.match(/webOS/i)|| navigator.userAgent.match(/iPhone/i)
				|| navigator.userAgent.match(/iPad/i)|| navigator.userAgent.match(/iPod/i)|| navigator.userAgent.match(/BlackBerry/i)
				|| navigator.userAgent.match(/Windows Phone/i) || navigator.userAgent.toLowerCase().match(/MicroMessenger/i) == "micromessenger"){
				$(location).attr("href","tsdm_phone.html")
			}
		</script>
	</head>
	<body>
		<div class="main_wrap">
			<canvas id="can" class="myCanvas" width="2000px" height="1500px">您的浏览器不支持 HTML5 canvas 标签。</canvas>
			<div id="dvalue" class="task_wrap">
				<div class="task_title">Developmental <br /> and <br /> Behavioral Assessment</div>
				<div class="space2"></div>
				<div class="itemBox" v-for="item in items">
					<div class="dis_flex inputW">
						<div class="itemName">
							<span>{{item.name}}</span>
							<span>{{item.nameadd}}</span>
						</div>
						<label class="inputWrap">
							<input v-if="item.suggestT" class="inputBox" placeholder="Please input the score" v-model="item.value" oninput="value=value.replace(/[^\d]/g,'')">
							<input v-else class="inputBox" placeholder="Please input the number" v-model="item.value" oninput="value=value.replace(/[^\d]/g,'')">
						</label>
					</div>
					<div class="space2"></div>
				</div>
				<button class="subB" v-on:click="getResult()">
					<p>Submit</p>
				</button>
			</div>
			<div class="space"></div>
			<div  class="tree_wrap">
				<div id="treeTitle" class="tree_title">{{title}}</div>
			    <div id="tree" class="node_wrap" >
					<div v-if="node.nodes" class="nodetree tree1" v-for="node in nodes" :id="node.id" v-bind:class="{nobrother:node.nobrother}">
						<span><div class="nodeText" v-bind:class="{trueNode: node.isTrue, leafNode: node.isLeaf}" >{{node.text}}</div></span>
						<div v-if="node.nodes" class="nodetree tree1" v-for="node in node.nodes" :id="node.id" v-bind:class="{nobrother:node.nobrother}">
							<span><div class="nodeText" v-bind:class="{trueNode: node.isTrue, leafNode: node.isLeaf}" >{{node.text}}</div></span>
							<div v-if="node.nodes" class="nodetree tree1" v-for="node in node.nodes" :id="node.id" v-bind:class="{nobrother:node.nobrother}">
								<span><div class="nodeText" v-bind:class="{trueNode: node.isTrue, leafNode: node.isLeaf}" >{{node.text}}</div></span>
								<div v-if="node.nodes" class="nodetree tree1" v-for="node in node.nodes" :id="node.id"  v-bind:class="{nobrother:node.nobrother}">
									<span><div class="nodeText" v-bind:class="{trueNode: node.isTrue, leafNode: node.isLeaf}" >{{node.text}}</div></span>
								</div>
							</div>
						</div>
					</div>
			    </div>
				<div id="tree2" class="node_wrap" >
					<div v-if="node.nodes" class="nodetree tree2" v-for="node in nodes" :id="node.id" v-bind:class="{nobrother:node.nobrother}">
						<span><div class="nodeText" v-bind:class="{trueNode: node.isTrue, leafNode: node.isLeaf}" >{{node.text}}</div></span>
						<div v-if="node.nodes" class="nodetree tree2" v-for="node in node.nodes" :id="node.id" v-bind:class="{nobrother:node.nobrother}">
							<span><div class="nodeText" v-bind:class="{trueNode: node.isTrue, leafNode: node.isLeaf}" >{{node.text}}</div></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
	</body>
	<script src="js/tsdm.js" type="text/javascript" charset="utf-8"></script>
</html>
